<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guorong.mybatis.mapper.master.OrderMapper">

    <!--OrderVO映射-->
    <resultMap id="orderVoResultMap" type="com.guorong.mybatis.vo.OrderVO">
        <id property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <collection property="orderItemList"
                    ofType="com.guorong.mybatis.entity.master.OrderItem"
                    select="selectOrderItemByOrderNo"
                    column="orderNo=order_no"/>
    </resultMap>

    <resultMap id="orderItemResultMap" type="com.guorong.mybatis.entity.master.OrderItem">
        <id property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="skuCode" column="sku_code"/>
        <result property="skuName" column="sku_name"/>
    </resultMap>

    <select id="selectAllOrderVo" resultMap="orderVoResultMap">
        select id, order_no
        from t_order
    </select>

    <select id="selectOrderItemByOrderNo" resultMap="orderItemResultMap">
        select id,
               order_no,
               sku_code,
               sku_name
        from t_order_item
        <where>
            <if test="orderNo != null and orderNo != ''">
                order_no=#{orderNo}
            </if>
        </where>
    </select>

</mapper>